.ProfileCover-size-input :first-child {
  margin-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ProfileCover-size-input :last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
